@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PUT<br />
    Poznan<br />
    <abbr title="e-mail">Oliwia Masian:</abbr>
    oliwia.masian@student.put.poznan.pl
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:oliwia.m.96@wp.pl">oliwia.m.96@wp.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:oliwia.m.96@wp.pl">oliwia.m.96@wp.pl</a><br />
</address>